body{
  background: #3c3f4205 !important;
}
.card-aud {
  flex-direction: column;
  align-items: center;
}
.App {
  margin: 100px;
}
.file-upload-area {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}
.card-body-aud{
  background: #ffffffe6;
  border: 2px solid #d9e1e7;
}
.upload-msg{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

.title-name-aud {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}
.card {
  width: 100%;
}
.card-section-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card.audiogram-card {
  background: none;
  margin-left: 4rem;
  margin-top: 1.9rem;
  border: none;
}
.design-card{
  margin-top: 30px;
}
.card-body.preview-area {
  border: 1px solid #0000000f;
  height: 300px;
}

/* ------Profile image upload-------------------- */
button.download-btn {
  border: none;
  padding: 0.5rem;
  width: 20%;
  margin-top: 1rem;
  background: #0087fd;
  color: #fff;
  border-radius: 10px;
}
button.download-btn:hover {
  opacity: 0.7;
}
.color-picker {
  display: flex;
  align-items: center;
}
span.color-picker-val {
  border: 1px solid #ced4da;
  padding: 7px 15px;
  border-radius: 2px;
}
img.playerProfilePic_home_tile {
  width: 20%;
}
.bg-img-preview {
  padding: 1rem;
  border: 1px solid #ced4da;;
}
button.btn-close {
  position: absolute;
  width: 0.2em;
  height: 0.2em;
}
img.profile-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
}
audio.react-audio-player {
  width: 100%;
  margin-top: 10rem;
}
.download-btn-area {
  display: flex;
  justify-content: flex-end;
}